<div class="card text-bg-primary">
    <div class="card-body">
        <div class="row align-items-center">
            <div class="col-9">
                <h3 class="card-title">Nombre de page</h3>
            </div>
            <div class="col-3">
                {{ count }}
            </div>
        </div>
    </div>
</div>