<div class="row">
    <div class="col-12">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="{{ path('op_admin_dashboard_index') }}"><i class="fa-duotone fa-house-blank"></i> Tableau de Bord</a></li>
        </ol>
    </div>
</div>