{% extends 'admin.html.twig' %}

{% block title %}Page index{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.onload = function() {

            const modalPage = document.getElementById('modalPage')
            modalPage.addEventListener('show.bs.modal', function (event) {
                // Button that triggered the modal
                let button = event.relatedTarget
                // extraction de la variable
                let recipient = button.getAttribute('data-bs-whatever')
                let crud = recipient.split('-')[0]
                let contentTitle = recipient.split('-')[1]
                let id = recipient.split('-')[2]
                let namePage = recipient.split('-')[3]
                if(crud === 'ADD'){
                    // mise à jour du lien de soumission du formulaire.
                    axios
                        .get('/webapp/page/new')
                        .then(function (response) {
                            const form = document.getElementById('ModalBodyPage').innerHTML = response.data.formView;
                        })
                    let modalHeaderH5 = modalPage.querySelector('.modal-title')
                    modalHeaderH5.textContent = contentTitle
                    let modalContent = modalPage.querySelector('.modal-footer')
                    let modalSubmit = modalPage.querySelector('.modal-footer a')
                }else if(crud === 'EDIT'){
                    // mise à jour du lien de soumission du formulaire.
                    axios
                        .get('/webapp/page/'+ id +'/edit')
                        .then(function (response) {
                            const form = document.getElementById('ModalBodyPage').innerHTML = response.data.formView;
                        })
                    let modalHeaderH5 = modalPage.querySelector('.modal-title')
                    modalHeaderH5.textContent = contentTitle
                    let modalContent = modalPage.querySelector('.modal-footer')
                    let modalSubmit = modalPage.querySelector('.modal-footer a')
                    modalSubmit.innerHTML= '<i class="fa-duotone fa-pen-to-square"></i> Modifier'
                }
                else if(crud === 'DEL'){
                    // mise à jour du lien de soumission du formulaire.
                    let modalDialog = modalPage.querySelector('.modal-dialog')
                    modalDialog.classList.remove("modal-xl")
                    let modalHeader = modalPage.querySelector('.modal-header')
                    modalHeader.innerHTML = '<h5 class="modal-title text-danger">'+contentTitle+'</h5>'
                    let modalContent = modalPage.querySelector('.modal-body')
                    modalContent.innerHTML =
                        '<p>Vous êtes sur le point de supprimer la page : <b>'+namePage+'</b>.</p>' +
                        '<p>En cliquant sur le bouton "Supprimer", la page sera difinitivement effacée. Est-vous sur de continuer ?</p>'
                    let modalSubmit = modalPage.querySelector('.modal-footer a')
                    modalSubmit.classList.remove("btn-primary")
                    modalSubmit.removeEventListener('click', submitFormPage)
                    modalSubmit.classList.add("btn-danger")
                    modalSubmit.innerHTML= '<i class="fa-duotone fa-trash-can-check"></i> Supprimer'
                    modalSubmit.removeAttribute('href')
                    modalSubmit.href = '/webapp/page/'+id+'/del'
                }
            })

            // fonction d'envoi de la page vers son controller
            function submitFormPage(event){
                event.preventDefault()
                let FormPage = document.querySelector('.formPage')
                let urlPageController = FormPage.action
                let dataPage = new FormData(FormPage)
                axios
                    .post(urlPageController, dataPage)
                    .then(function(response){
                        const liste = document.getElementById('liste').innerHTML = response.data.liste
                        // Code pour recharger les events
                        // -----------------------------------------------------------
                        // Ajout d'un évènement sur le click du selecteur EditCustomer
                        document.querySelectorAll('a.submitFormPage').forEach(function (link) {
                            link.addEventListener('click', submitFormPage);
                        })
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
            }

            document.getElementById('aDeletePage').addEventListener('click', delPage)
            document.querySelector('a.submitFormPage').addEventListener('click', submitFormPage)

            function delPage(event){
                event.preventDefault()
                let href = this.href
                axios
                    .post(href)
                    .then(function(response){
                        document.getElementById('liste').innerHTML = response.data.liste
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
            }

            modalPage.addEventListener('hide.bs.modal', function (event) {
                let modalDialog = modalPage.querySelector('.modal-dialog')
                modalDialog.classList.add("modal-xl")
                // Ajout d'un évènement sur le click du selecteur EditCustomer
                document.querySelector('a.submitFormPage').removeEventListener('click', delPage)
                document.querySelector('a.submitFormPage').addEventListener('click', submitFormPage)
            })

            // Ajout d'un évènement sur le click du selecteur EditCustomer
            document.querySelectorAll('a.submitFormPage').forEach(function (link) {
                link.addEventListener('click', submitFormPage);
            })


            // complétion du champ SEO Title
            const title = document.getElementById('page_name')
            let titleSEO = document.getElementById('page_seoTitle')
            if(title !== null) {
                console.log('Ok')
            }
        }
    </script>
{% endblock %}

{% block content %}
    <div class="row d-flex justify-content-between">
        <div class="col-sm-12">
            <h1>PAGES - Liste des pages</h1>
        </div>
    </div>

    <div class="navigation d-flex justify-content-between">
        <div class="mb-1">
            <button id="addNewPage" class="btn btn-sm btn-outline-dark" data-bs-toggle="modal" data-bs-target="#modalPage" data-bs-whatever="ADD-Ajout d'une page au site-0">Ajouter une page</button>
            <a class="btn btn-sm btn-outline-warning" id="SupprRows" href="">Archiver les pages sélectionnés</a>
        </div>
        <div id="blockPagination">
            <nav>
                <ul class="pagination pagination-sm">
                    <li class="page-item disabled">
                        <span class="page-link">«&nbsp;Précédent</span>
                    </li>
                    <li class="page-item active">
                        <span class="page-link">1</span>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="/gestapp/property/?page=2">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="/gestapp/property/?page=3">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" rel="next" href="/gestapp/property/?page=2">Suivant&nbsp;»</a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
    <div id="liste">
        {% include('webapp/page/include/_liste.html.twig') %}
    </div>


{% endblock %}

{% block modals %}
    {{ parent() }}
    <!-- Edition d'un vendeur sur un bien -->
    <div class="modal fade" id="modalPage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="ModalBodyPage" class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <a id="aDeletePage" class="btn btn-sm btn-primary submitFormPage" data-bs-dismiss="modal">Ajouter</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}