{% extends 'base.html.twig' %}

{% block title %} {{page.name}} | {{ application.nameSite }}{% endblock %}

{% block content %}
    {% if page.isShowTitle == true %}
        <section class="container">
            <div class="row">
                <div class="col-12">
                    <h1>{{ page.name }}</h1>
                </div>
            </div>
        </section>
    {% endif %}
    {% for block in blocks %}
        {% if block.blockType.id == 1 %}
            {{ include('webapp/block/content/jumbotron/jumbotron.html.twig') }}
        {% endif %}
    {% endfor %}
{% endblock %}