{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    <section class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-4 align-self-center px-lg-6 my-5">
                <div>
                    <h1 class="display-4 text-center mb-3">
                        Espace de connexion
                    </h1>
                    <p class="text-center d-lg-none">
                        <img class="img-fluid" src="#" alt="papsimmo40">
                    </p>
                    <!-- Subheading -->
                    <p class="text-muted text-center mb-5">
                        Accéder à votre espace personnel.
                    </p>
                </div>
                <div>
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <form action="{{ path('og_security_login_in') }}" method="post">
                        <h2 class="text-center mb-2 font-weight-normal">Se connecter</h2>
                        <div class="row justify-content-center">
                            <div class="col-md-8 mb-1">
                                <label for="username">Email:</label>
                                <input class="form-control form-control-sm" type="text" id="username" name="_username" value="{{ last_username }}" autocomplete="email" required autofocus >
                            </div>
                            <div class="col-md-8 mb-1">
                                <label for="password">Password:</label>
                                <input class="form-control form-control-sm" type="password" id="password" name="_password">
                            </div>
                            <div class="col-md-8 mb-1">
                                <button type="submit" class="btn btn-sm btn-outline-secondary">login</button>
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            {# If you want to control the URL the user is redirected to on success
                            <input type="hidden" name="_target_path" value="/account"> #}
                        </div>






                    </form>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-8 d-none d-lg-block">
                <!-- Image -->
                <div id="block_login_image" class="bg-cover h-100 min-vh-100 mt-n1 mr-n3">
                </div>
            </div>
        </div>
    </section>

{% endblock %}
