<section id="footer_install" class="container-fluid">
    <div class="row" id="rsfollow">
        <div class="col-4">
            <div class="text-end">
                <p class="mb-0 text-start">
                    Suivez-nous sur les réseaux sociaux
                </p>
            </div>
        </div>
        <div class="col-8">
            <div class="text-end">
                <p class="mb-0 w-50 text-end">
                    Facebook
                </p>
            </div>
        </div>
    </div>
    <div class="row mt-3" id="footer_info">
        <div class="col-3">
            <h6>Qui sommes-nous</h6>
            <hr>
            <img src="" alt="OpenPixl">
            <p>
                Situé dans le département des Landes, OpenPixl accompagne particuliers, Entreprises, associations dans le numérique par la formation, le développement et le conseil. Notre particularité : les solutions dites "Libre" et "Open Source", garantissant un usage plus respectueux de l'usager et sécuritaire. .
            </p>
        </div>
        <div class="col-6">
            <h6>Retrouvez-nous sur ....</h6>
            <hr>
            <article>

            </article>
        </div>
        <div class="col-3">
            <h6 class="footer_subtitle">Contacts</h6>
            <hr>
            <ul>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </ul>
        </div>
    </div>
</section>