<section id="footer_install" class="container-fluid">
    <div class="row justify-content-center align-items-center" id="rsfollow">
        <div class="col-4">
            <div class="text-end">
                <p class="mb-0 text-start">
                    Suivez-nous sur les réseaux sociaux
                </p>
            </div>
        </div>
        <div class="col-8">
            <div class="text-end">
                <p class="mb-0 w-50 text-end">
                    Facebook
                </p>
            </div>
        </div>
    </div>
    <div class="row mt-3" id="footer_info">
        <div class="col-3">
            <h6>Qui sommes-nous</h6>
            <hr>
            <img src="" alt="OpenPixl">
            <p>
                Groupement entre une association de médiation numérique et un coworker, ce projet s'inscrit dans la démarche des logiciel libre en vous proposant un CMS OpenSource, construit sur Symfony 7.
            </p>
        </div>
        <div class="col-6">
            <h6>Retrouvez-nous sur ....</h6>
            <hr>
            <article>

            </article>
        </div>
        <div class="col-3">
            <h6 class="footer_subtitle">Contacts</h6>
            <hr>
            <ul>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </ul>
        </div>
    </div>
</section>