{% extends 'base.html.twig' %}

{% block title %}New Config{% endblock %}

{% block body %}
    <h1>Create new Config</h1>

    {{ include('admin/config/_form.html.twig') }}

    <a href="{{ path('og_admin_config_index') }}">back to list</a>
{% endblock %}
