.modal{
  .modal-dialog{
    .modal-content{
      .modal-body{
        .card{
          border: none;
          .card-body{
            padding: 0 !important;
            p{
              padding-top: 1rem;
              padding-bottom: 1rem;
            }
          }
        }
      }
    }
  }
}