.modal{
  .modal-dialog{
    .modal-content{
      .modal-body{
        .card{
          .card-body{
            padding: 0 !important;
            border: none !important;
          }
        }
      }
    }
  }
}

#modal-card{
  .card-body{
    padding: 0 !important;
    border: none !important;
  }
}